@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');


html, body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-attachment: fixed;
    background-color: white;
    background-image: url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrap{
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url("/assets/header\ background.png");
    margin: .5rem;
    border-radius: .75rem;
    display: flex;
    align-items: center;

}
header img{
    width: 150px;
    margin-top: 0.5rem;
}

header h1{
    color: #d2a646;
    -webkit-text-stroke: 0.1px #000;
    margin: 0;
    padding-left: .3rem;
    text-align: center;
}

header h1 small{
    display: block;
    font-size: 1.4rem;
    -webkit-text-stroke: none;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .35rem;
    margin: 0 .5rem .5rem .5rem;
    display: flex;
    justify-content: flex-end;
}

nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .65rem .75rem;
    color: #d2a646;
    -webkit-text-stroke: 0.8px #000;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a span{
    color: #000;
    text-decoration: none;
}

nav a:hover{
    color: #ffc850;
    transition: 0.2s;
    background-color: rgb(100, 100, 100);
    border-radius: .65rem;
}

#wrap > main{
 
    display: flex;
    margin: 0 .5rem;
    flex-grow: 1;
    flex-direction: column;
}

#wrap > main > article{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .4rem;
    border: 1px dotted;
    flex-grow: 1;
    padding: 0 .4rem;
    
}
#wrap > main > aside{
    background-color: rgba(255, 241, 203, 0.7);
    margin-top: .2rem;
    border-radius: .4rem;
    border: 1px dotted;
    padding: 0 .4rem;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    margin: .5rem;
    border-radius: .5rem;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .2rem;
    background-color: rgba(0, 0, 0, 0.7);
}
.footer-top a, .footer-top div{
    color: #d2a646;
    margin: .5rem;
}
.footer-top a{
    font-size: 1.5rem;
}
.footer-top a:hover{
    color: #ffc850;
    transition: 0.2s;
    font-size: 1.6rem;
}

.footer-bottom{
    display: flex;
    
}