@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');


html, body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Pokemon Solid, sans-serif;
    font-size: 16px;
    background-attachment: fixed;
    background-color: white;
    background-image: url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#wrap{
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    letter-spacing: .02rem;
    font-size: 18px;
}

header{
    background-image: url("/assets/header\ background.png");
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1{
    color: #ffcb05;
    -webkit-text-stroke: 1.5px #2a75bb;
    margin: 0;
    padding-left: .3rem;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

header h1 small{
    display: block;
    font-size: 1.4rem;
    -webkit-text-stroke: none;
    margin-top: 2rem;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}

nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .65rem .75rem;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a span{
    color: #ffcb05;
    text-decoration: none;
}

nav a:hover{
    color: #ffc850;
    transition: 0.2s;
    background-color: #7C6EBB;
}

#wrap > main{
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0 .5rem;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.685);
}

#wrap > main > article{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .4rem;
    border: 1px dotted;
    flex-grow: 1;
    padding: 0 .4rem;
    
}
#wrap > main > aside{
    background-color: rgba(255, 241, 203, 0.7);
    margin-top: .2rem;
    border-radius: .4rem;
    border: 1px dotted;
    padding: 0 .4rem;
}

footer{
    margin: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    align-items: center;
    justify-content: center;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .2rem;
    background-color: #7C6EBB;
}
.footer-top a, .footer-top div{
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    margin: .5rem;
}
.footer-top a{
    font-size: 1.5rem;
}
.footer-top a:hover{
    color: #ffc850;
    transition: 0.2s;
    font-size: 1.6rem;
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
    background-color: #7C6EBB;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
}

.footer-bottom a{
    color: #ffcb05;
    text-decoration: none;
}

