@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');


html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Pokemon Solid, sans-serif;
    font-size: 16px;
    background-attachment: fixed;
    background-color: white;
    background-image: url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    letter-spacing: .02rem;
    font-size: 18px;
}

header {
    background-image: url("/assets/header\ background.png");
    display: flex;
    align-items: center;
    justify-content: center;

}

header h1 {
    color: #ffcb05;
    -webkit-text-stroke: 1.5px #2a75bb;
    margin: 0;
    padding-left: .3rem;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

header h1 small {
    display: block;
    font-size: 1.4rem;
    -webkit-text-stroke: none;
    margin-top: 2rem;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .65rem .75rem;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a span {
    color: #ffcb05;
    text-decoration: none;
}

nav a:hover {
    color: #ffc850;
    transition: 0.2s;
    background-color: #7C6EBB;
}

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    
}

#fetchHaunterBtn {
    font-family: Pokemon Solid;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    font-size: 64px;
    letter-spacing: 0.5rem;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

#haunterName {
    color: #7C6EBB;
    -webkit-text-stroke: 1px #000;
}

#fetchHaunterBtn:hover {
    cursor: pointer;
    background-color: grey;
    transition: 0.2s;
}

#pokemonData {
    position: relative;
    font-family: Pokemon Solid;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    font-size: 32px;
    letter-spacing: 0.3rem;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

#pokemonData h2 {
    font-size: 128px;
    letter-spacing: .9rem;
    margin: 0;
    padding-bottom: 5rem;
}
#pokemonData img{
    border: 5px solid black;
    border-radius: 2rem;
}
footer {
    margin: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .2rem;
    background-color: #7C6EBB;
}

.footer-top a,
.footer-top div {
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
    margin: .5rem;
}

.footer-top a {
    font-size: 1.5rem;
}

.footer-top a:hover {
    color: #ffc850;
    transition: 0.2s;
    font-size: 1.6rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    background-color: #7C6EBB;
    color: #ffcb05;
    -webkit-text-stroke: 1px #2a75bb;
}

.footer-bottom a {
    color: #ffcb05;
    text-decoration: none;
}


@media screen and (min-width: 480px) {


    #wrap>nav {
        justify-content: space-around;
    }

    #wrap>nav a {
        flex-direction: row;
    }

    #wrap>nav a:first-child {
        margin-right: 0;
    }

    #wrap>nav a i {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        margin-right: 0.6rem;
    }
}

@media screen and (min-width: 768px) {

    #wrap>main {
        flex-direction: row
    }

    #wrap>main>aside {
        margin-top: 0;
        border: 1px dotted;
        margin-left: 0.5rem;
        min-width: 220px;
        max-width: 220px;
    }

}